<% title 'Lists' %>

<div id="left_column">
  <ul class="list_list">
    <% @lists.each do |l| %>
      <li>
        <h4><%= time_ago_in_words(l.created_at) %> ago</h4>
        <h2><%= link_to l.name, l %></h2>
        <h3><%= link_to l.user.name, l.user %></h3>
      </li>
    <% end %>
  </ul>
</div>

<aside class="lists">
  <%= link_to 'Create New List', new_list_path, :class => 'blue_button' %>
  
  <section class="prose lists">
    <h2>How to use Lists</h2>
    <p>Lists are like playlists of facts. Create a list to start adding facts for a quiz, test, or for fun.</p>
    <h3>Cool lists</h3>
    <ul>
      <li><a href="/lists/6">State Capital Test</a></li>
      <li><a href="/lists/14">The 1000 Most Common SAT Words</a></li>
    </ul>
  </section>
</aside>
