<% title 'Lists' %>

<div id="left_column">
  <ul class="list_list">
    <% @lists.each do |l| %>
      <li>
        <h4><%= time_ago_in_words(l.created_at) %> ago</h4>
        <h2><%= link_to l.name, l %></h2>
        <h3><%= link_to l.user.name, l.user %></h3>
      </li>
    <% end %>
  </ul>
</div>

<div id="right_column">
  <p>Lists are like playlists of facts.</p>
  <%= link_to 'Create New List', new_list_path, :class => 'blue_button' %>
</div>
