<% title false %>

<aside>
  <div class="list">
    <h3>Lists</h3>
    <ul>
      <% @user_lists.each_with_index do |l, i| %>
        <li><%= link_to l.name, l %></li>
        <% if i == 5 %>
          <li><%= link_to 'More…', 'users/'+current_user.id.to_s+'/lists' %></li>
          <% break %>
        <% end %>    
      <% end %>
    </ul>
  </div>

  <div class="new_fact_button">
    <a href="/facts/new">Create new fact</a>
  </div>

  <div class="new_list_button">
    <a href="/lists/new">Create new list</a>
  </div>
</aside>