<% title false %>

<section class="hook">
  <a href="/"><%= image_tag 'lzg_blackonwhite.png' %></a>
  <h1>Cold memorization is hard. So don't do it.</h1>
  <h2><a href="/signup">Sign up</a> or <a href="/login">login</a></h2>
  <p>We make our own flashcards and silly mnemonics to memorize them, then leave the flashcards in a pile and never share the mnemonics with anyone. Let's change that.</p>
</section>