<div id="left_column">
  <section class="help">
    <h1>Help</h1>
    
    <h2>Neurons</h2>
    <p>You can collect neurons.</p>
    <ul>
      <li>When one of your mnemonics is upvoted, you gain 1 neuron. If the user takes back their vote, your neuron is reposessed.</li>
      <li>Downvotes do not affect neurons.</li>
    </ul>
  </section>
</div>

<aside>
</aside>