<div id="left_column">
  <section class="help post">
    <h1>How Lazy Genius works</h1>
    <h2>Facts</h2>
    <p>Facts run lazy genius. Think of them as flashcards. Facts are made up of a name (the front of the card), a definition (the back of the card), and a description (extra information). Facts are always part of at least one list.</p>
    
    <h2>Lists</h2>
    <p>Use lists to organize your facts. Frequent uses for lists include groups of terms for quizzes and tests.</p>
      
    <h2>Neurons</h2>
    <p>Neurons are a measure of your experience. You gain neurons by suggesting good mnemonics and having them upvoted.</p>
    <ul>
      <li>When one of your mnemonics is upvoted, you gain 1 neuron. If the user takes back their vote, your neuron is reposessed.</li>
      <li>Downvotes do not affect neurons.</li>
    </ul>
    
    <h2>Contact</h2>
    <p>Lazy Genius was created by Jeff Carpenter. You can contact him at <a href="mailto:gccarpen@colby.edu">gccarpen@colby.edu</a>.
  </section>
</div>

<aside>
</aside>