// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hot_lists {
  background-color: #ccc;
  width: 300px;
  border-radius: 4px;
  border: solid 1px #aaa;
  .list {
    h3 {
      background-color: #eee;
      padding: 5px;
    }
    .fact {
      padding: 2px 5px;
    }
  }
}