<!DOCTYPE html>
<html>
<head>
  <title>Hakata</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <h1>Hakata</h1>
  </nav>
</header>
<div id="content">
<%= yield %>
</div>
</body>
</html>
